{% extends "header.html" %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Buy Products</h2>
    <div class="row mt-4">

        {% for p in products %}
        <div class="col-md-4">
            <div class="card shadow">
                <img src="{{ p.image.url }}" class="card-img-top" height="220">

                <div class="card-body">
                    <h5 class="card-title">{{ p.name }}</h5>
                    <p>{{ p.description|truncatechars:70 }}</p>
                    <h6>Price : ₹{{ p.price }}</h6>

                    <a href="{% url 'product_details' p.id %}" class="btn btn-primary w-100 mt-2">
                        View Details
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
